.footer-guide {
padding-top: 96px;
padding-bottom: 96px;
}

.footer-guide-image {
width: 26%;
float: left;
height: 340px;
background-color: #d9dde3;
border-radius: 8px;
}

.footer-guide-content {
width: 68%;
float: right;
}

.footer-guide-title {
font-size: 30px;
margin-bottom: 16px;
}

.footer-guide-text {
color: #6b7280;
margin-bottom: 32px;
}

